body{
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: skyblue;
    padding: 8px 12px;
}

.navbar__logo{
    font-size: 24px;
    color: white;
}

.navbar__logo i{
    color: pink;
}

.navbar__menu{
    display: flex;
    list-style: none;  // 리스트 점을 없애준다
    padding-left: 0;
}

.navbar__menu li{
    padding: 8px 12px;
}
