:root{
    --text-color: #f0f4f5;
    --background-color: whitesmoke;
    --accent-color: pink;

}

body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--background-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #154734;
    padding: 8px 12px;
}

.navbar__logo{
    font-size: 24px;
    color: var(--text-color);
}

.navbar__logo i{
    color: var(--accent-color);
}

.navbar__menu{
    display: flex;
    list-style: none;  /*리스트 점을 없애준다*/
    padding-left: 0;
}

.navbar__menu li{
    padding: 8px 12px; /*마진대신 패딩을 쓴 이유는 버튼 클릭 영역을 넓힐 수 있어서 */

}

.navbar__menu li:hover{
    background-color: grey;
    border-radius: 4px;


}
.navbar__icons{
    list-style: none;
    display: flex;
    color:var(--text-color);
    padding-left: 0;
}

.navbar__icons li{
    padding: 8px 12px; /*사이에 ','를 넣으면 안된다 */
}

.navbar__toggleBtn{
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--accent-color);
}

@media screen and (max-width: 768px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar__menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        
    }

    .navbar__menu li{
        width: 100%;
        text-align: center;
    }

    .navbar__icons{
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar__toggleBtn{
        display: block;
    }

    .navbar__menu.active,
    .navbar__icons.active{
        display: flex;
    }
}
