/* common */
body{
    background-color: rgb(226, 243, 249);
}
.head, .menus, .order{
    width: 500px;
    margin: 20px auto;
    text-align: center;
}
ul{
    list-style: none;
}

/* Each */
.head{
    font-size: 30px;
    font-weight: 700;
    color: darkgreen;
}
.order{
    height: 100px;
    background-color: white;
}

#menu-list{
    display: flex;
    justify-content: space-around;
}

.menu-type{
    background-color: white;
    margin: 0 5px;
    padding: 0 3px;
}
.order__title{
    padding: 20px;
}

.menu-count{
    margin-left: 250px;
}

#menu-name{
    width: 300px;
    background-color: rgb(226, 243, 249);
}
#espresso-menu-list{
    background-color: white;
}