/* common */
body{
    background-color: rgb(226, 243, 249);
}
.head, .menus, .order{
    width: 500px;
    margin: 20px auto;
    text-align: center;
}
ul{
    list-style: none;
}

button{
    cursor: pointer;
}
/* Each */
.head{
    font-size: 30px;
    font-weight: 700;
    color: darkgreen;
}
.order{
    height: 100px;
    background-color: white;
}

#menu-list{
    display: flex;
}

.menu-type{
    cursor: pointer;
    background-color: white;
    font-size: 14px;
    border-radius: 20px;
    margin: 0 5px;
    padding: 0 7px;
}
.order__title{
    padding: 20px;
}

.menu-count{
    margin-left: 250px;
}

#menu-name{
    width: 300px;
    height: 20px;
    border:transparent;
    background: rgb(226, 243, 249);
    border-radius: 10px;
}

#submit-menu-button{
    background-color: darkgreen;
    border-radius: 10px;
    color: white;
    border:transparent;
    margin-left: 20px;
}
#espresso-menu-list{
    background-color: white;
}
