body{
    background-color: rgb(226, 243, 249);
}
.head, .menus, .order{
    width: 500px;
    margin: 40px auto;
    text-align: center;
    background-color: whitesmoke;
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

li{
    background-color: whitesmoke;
    margin: 0 5px;
}