@font-face {
    font-family: 'Suisse';
    src: url('./forCSS/SuisseWorksTrial-Medium.otf') format('otf');
} 
* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: "Suisse";
    font-weight: 300;
    color: #FFFEF2;
    background-color: #FFFEF2;
    overflow-x: hidden;  /* 오른쪽 여백이 안보이게 해준다 */
}

#banner{
    background-color: #252525;
    width: 100%;
    height: 37px;
}

.banner__content{
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
}

.banner__content:hover{
    text-decoration: underline;
    cursor: pointer;
}

#navbar{
    background-color: #333333;
    width: 100%;
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    position: relative;
   
}

.navbar__menu{
    display: flex;
    list-style: none;
    font-size: 16px;
    justify-content: space-evenly;
    padding-left: 30px;
}

.navbar__menu li{
    padding: 30px 12px;
    cursor: pointer;
}

.navbar__customer{
    display: flex;
    list-style: none;
    font-size: 16px;
    padding-right: 30px;
}

.navbar__customer li{
    padding: 30px 12px;
    cursor: pointer;
}

#intro {
    position: absolute;
  }

video{
    width: 100%;
    height: 85vh;
    object-fit: cover;
    background-size: cover;

}
.intro__logo {
    position: absolute;
    width: 12%;
    top: 15%;
    left: 30px;
    z-index: 1000;
  }

.intro__content {
    position: absolute;
    width: 100%;
    top: 20%;
    left: 20%;
    z-index: 1000;
  }

h2{
    font-size: 14px;
    padding-bottom: 30px;
    font-weight: 300;
}

h1{
    font-size: 30px;
    padding-bottom: 30px;
    font-weight: 400;
}

p{
    font-size: 16px;
    padding-bottom: 10px;
}
.intro__detail{
    position: absolute;
    left: 20%;
    bottom: 30%;
    z-index: 2000;
    
}

.intro__detail a{
    font-size: 14px;
    display: block;
    color: #FFFEF2;
    text-decoration: none;
    text-align: left;
    padding: 15px 30px;
    border: 1px solid #FFFEF2;
}

.intro__detail a:hover{
    color: #252525;
    font-weight: 400;
    background-color: #FFFEF2;
}

@media screen and (max-width: 768px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar__menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        
    }

    .navbar__menu li{
        width: 100%;
        text-align: center;
    }

    .intro__content{
        flex-direction: column;
    }
}